Problem 1: Unique Words in a Sentence

In [3]:
#taking input from the user
sentence=input("Enter sentence")
#Spliting the sentence into individual words
split_sentence=sentence.split()
#converting it into a set
unique_words=set(split_sentence)
#printing the Unique words and count
print("Unique word count:",len(unique_words))
print("Unique words:",unique_words)

Enter sentence python is easy and python is powerful

Unique word count: 5
Unique words: {'is', 'and', 'python', 'powerful', 'easy'}

Problem 2: Highest Salary from Employee Data

In [4]:
#employees data in form of dictionary name and salary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
# Initialize variables
highest_employee = None
highest_salary = 0
# using for loop through dictionary to find highest salary
for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name
# printing the  result
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [16]:
#Given list of numbers
numbers = [45, 22, 89, 10, 66]
#Initializing Max and Min values
Max_number=numbers[0]
Min_number=numbers[0]
#using FOR loop to check elements
for i in numbers:
    if i > Max_number:
        Max_number = i 
    if  i < Min_number:
        Min_number = i
#printing the maximum and minimum values
print("List:",numbers)
print("Maximum number:",Max_number)
print("Minimum number:",Min_number)

List: [45, 22, 89, 10, 66]
Maximum number: 89
Minimum number: 10

Problem 4: Count Products Above a Price Threshold

In [17]:
#Given List
prices = [450, 1200, 899, 1500, 300]
#initialzing varible
count=0
#running a FOR loop to check the prices
for i in prices:
    if i > 1000:
        count+=1
#printing the results
print("Prices above 1000:",count)

Prices above 1000: 2

Problem 5: Calculate Attendance Percentage

In [20]:
#Given List
attendance = ["P", "P", "A", "P", "P"]
#initialzing variable
p_count=0
#for loop for counting
for i in attendance:
    if i == "P":
        p_count+=1
#counting the length 
total_days=len(attendance)
#calculating the percentage
percentage=(p_count/total_days)*100
#printing the result
print("Attendance Percentage:",percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [22]:
#given List
phone_numbers = [9876543210, 9123456789, 9876543210]
#converting list to sets to remove duplicates
unique_number = set(phone_numbers)
#printing result
print("Unique phone numbers:",unique_number)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [24]:
# given string
text = "python p"
# empty dictionary
char_count = {}
# counting characters
for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1
# printing result
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1, ' ': 1}

Problem 8: Convert List to Tuple

In [25]:
#LIST
List=[10,20,30]
#converting to tuple
Tuple=tuple(List)
#printing result
print("Tuple:",Tuple)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [26]:
# dictionary of employees
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
#the key to check 
Key_name="Ravi"
#checking if key is in the dictionary
if Key_name in employees:
    print("Employee exists")
else:
    print("Employee doesn't exist")

Employee exists

Problem 10: Calculate Average Marks

In [30]:
#List of marks
marks = [70, 75, 80, 65]
#count of values in list
count=len(marks)
#intitalizing varible
total=0
#Looping to get the total
for i in marks:
    total+=i
#calculating average marks
Average_marks=total/count
#printing the result
print("Average Marks:",Average_marks)

Average Marks: 72.5